:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background: #bfc7c8;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  justify-content: center;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  margin: 0;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}



/* Banner */

.bottom-banner{
  margin-top: -10px;
  height: 150px;
  padding: 5px;
  background: #143137;
  border-radius: 3px 3px 0 0;
}

.bottom-banner-container{
  margin: 10px 10px;
  height: 53%;
  width: 89%;
  border-radius: 20px;
  border: 5px solid #d8e6e7;
  outline: 10px solid #cba950;
  display: flex;
  justify-content: start;
  align-items: center;
  padding: 20px;
}

/* Fight Scene */

.fight-scene{
  height: 350px;
  color: #35351b;
}

.pokemon-fighting{
  margin-left:90px;
  display: flex;
  gap: 80px;
  flex-direction: row;
  align-items: center;
}

.pokemon-health{
  padding: 5px;
  flex-basis: 290px;
  background: #f7f8d6;
  border-radius: 25px 10px 25px 10px;
  border: 4px outset #979e7898;
  box-shadow: 0 0 10px 3px #03202e33;
  display: flex;
  flex-wrap: wrap;
}

/* Front */

.pokemon-front{
  height: 175px;
  text-align: start;
}

/* Back */

.pokemon-back{
  text-align: end;
  height: 175px;
}