main {
  width: 800px;
  height: 600px;
  margin-top: 2vh;
  padding: 2rem;
  text-align: center;
  background: #273a49;
  background: linear-gradient(180deg, #273a49 0%, #131e28 100%);
  border-radius: 20px;
  display: flex;
  justify-content: center;
}

.game-screen{
  width: 650px;
  height: 500px;
  max-height: 500px;
  border-radius: 4px;
  background: #cce2cd;
  background: linear-gradient(0deg, #a4bba6 28%, #b4c6d1 100%);
  align-self: center;
}
